/**
Theme Name:hcmut-tbi
Theme URI: Lekima
Date:3/4/2014
Author:Bach Ngoc Hong Diep
Author URI:http://htcmut.vn
Description:htech
Version:1.0
License:GNU General Public License v1 or later
Text Domain:hcmut.vn
**/

@font-face{
    font-family:VNF-StagSans-Thin;
    src: url('fonts/VNF-StagSans-Thin.ttf');
}
@font-face{
    font-family:OpenSans-Regular;
    src: url('fonts/OpenSans-Regular.ttf');
}
@font-face{
    font-family:OpenSans-Light;
    src: url('fonts/OpenSans-Light.ttf');
}

@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    src: local('Oswald Regular'), local('Oswald-Regular'), url(http://fonts.gstatic.com/s/oswald/v10/-g5pDUSRgvxvOl5u-a_WHw.woff) format('woff');
}

#wrapper .container{max-width: 990px;}
body{font-size: 15px;font-family: OpenSans-Light,arial, helvetica, sans-serif;color: #000}

.page .col-xs-1,.page .col-sm-1,.page .col-md-1,.page .col-lg-1, .page .col-xs-3,.page .col-sm-3,.page .col-md-3,.page .col-lg-3,.page .col-xs-4,.page .col-sm-4,.page .col-md-4,.page .col-lg-4,.page .col-xs-5,.page .col-sm-5,.page .col-md-5,.page  .col-lg-5,.page  .col-xs-6,.page .col-lg-6,.page .col-xs-7,.page  .col-sm-7,.page  .col-md-7, .col-lg-7,.page  .col-xs-8,.page .col-sm-8,.page .col-md-8,.page .col-lg-8,.page .col-xs-9,.page  .col-sm-9,.page  .col-md-9,.page  .col-lg-9,.page  .col-xs-10,.page  .col-sm-10,.page  .col-md-10,.page .col-lg-10,.page .col-xs-11,.page  .col-sm-11,.page .col-md-11,.page  .col-lg-11,.page  .col-xs-12,.page .col-sm-12,.page .col-md-12,.page  .col-lg-12
,.single .col-md-8,.single .col-md-12, .archive .col-md-4,.archive .col-md-8, .archive .col-sm-12{padding-left: 5px;padding-right: 5px}
.page-single .fonts-reds a:active{color: #fff}
.menubot{display: none}
.navbar-default{border-color:#fff;opacity: 0.98}

.panel-heading{width: 100%}
.cate .title{font-size: 16px}

.navbar-default .navbar-nav > li > a,.font-icon-map-marker{color: #b92428}
.page-single .container .show-single{border: 1px solid #f6f6f6}
.single .col-md-4{}
.top-new-viewer{margin-top: 21px}
.single .top-new-viewer ul{margin: 0;padding-top: 12px}
.news-page a:active{color: #fff}
ul{list-style: none}
.flex-caption h3{font-family: VNF-StagSans-Thin,OpenSans-Regular;font-weight: 600;font-size: 30px}

.fonts{font-weight: normal;font-size: 21px;font-family:OpenSans-Regular;text-transform:uppercase;margin-top: 37px;
    text-align: center;border-bottom:1px solid #b6b6b6;padding-bottom: 1.2%}
.btn-theme:hover{
    color: red;background: #fff;
}
.widgetheading{font-family: RobotoCondensed-Regular,Arial}
.font-color, .cate .title{color: #c42221}
.font-color-white{color: #fff}
.fa-3x{
    border: 5px solid #9b1b1f;
    border-radius: 50%;
    color: #9b1b1f;
    font-size: 43px !important;
    height: 82px !important;
    line-height: 1.7em;
    overflow: visible;
    position: relative;
    text-shadow: 0 0;
    width: 84px !important;
    z-index: 1;
}
.main-content{margin-top: 149px;border: 1px solid}
.navbar-toggle { position: relative; float: right; margin-right: 15px; padding: 9px 10px; margin-top: 8px; margin-bottom: 8px; background-color: transparent; background-image: none; border: 1px solid transparent; border-radius: 4px }

.aligncenter{text-align: center;margin: 0 auto}
.top-new-viewer h2.aligncenter{border-bottom: 1px solid #d6d6d6;
    padding-bottom: 10px;
}
/****/
.navbar .nav > li > a{font-size: 16px}
.sub-menu li a{text-decoration: none}
#login-mraovat .navbar-nav > li > a:hover{color: #000}
header .sub-menu li{width: 100%;float: left}

.sub-menu{background-clip: padding-box;
    background-color: #fff;
    border-radius: 4px;    display: none;
    float: left; font-size: 14px; left:-1px;list-style: none outside none;
    margin: 0px 0 0;min-width: 160px;padding: 5px 0; position: relative; top: 100%;}
header .navbar-nav > li:hover a{ color: #101010;
}
.flexslider .btn-theme:hover{background: #9b1b1f}
.events-pages .fa-home{font-size: 20px;color: #9b1b1f}
.events-pages .link-page{color: #9b1b1f;font-size: 16px}
.events-pages .link-page a{color: #9b1b1f}
.list-group{float: left}
.fonts-reds a:hover,.fonts-reds a:active ,.fonts-reds a:focus{color: #fff;cursor: pointer}

#projects #thumbs li{padding: 1px}
#projects .item-thumbs a + img{height: 175px;max-height: 100%}
.pro .btn-danger{min-width: 230px}
.icon .fa{line-height: 1.7}
.social-network .fa{    background: none repeat scroll 0 0 #000;
    border-radius: 125px;
    font-size: 23px;
    line-height: 33px;
    text-align: center;
    width: 36px;}
.fonts-reds{font-family: OpenSans-Regular;font-size: 18px;margin-top: 0px}
#newsall .details{margin-top: 4px;text-align: left}
footer{background: linear-gradient(to bottom, #eeeeee 0px, #e6e6e6 5px) repeat scroll 0 0 #464646;
    clear: both;
    position: relative;
    top: 15px;}
.timer-events{font-size: 12px}
.startDate{margin-top: 5px}

.col-md-2{overflow: hidden}
.navbar-default{background: #cfcfcf}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
    color: #fff;
}
.form-control:focus{border: 1px solid #9b1b1f}
.subride .email{float: left;max-width: 187px;margin-right: 4px;height: 32px;border-radius: 4px}
/*.navbar .nav > li:hover .sub-menu{display: block}*/
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus{background-color:none;}
.address{float: left}
.hr-link,.hr-links{border-bottom: 1px solid #9b1b1f;height: 1px;margin-bottom: 15px;float: left;}
.hr-link{width: 23%;}
.hr-links{width: 38%;}
/**menu**/

header .nav li:hover ul{display: block;position: absolute;}
header .nav li:hover ul li ul{display: none;z-index: 30000}
header .nav li ul {width:212px;z-index: 100;}
header .nav li ul li:hover ul{display: block; margin-left: 220px; top: 0%;overflow: hidden;z-index: 102}

header .nav ul.sub-menu li ul.sub-menu{left:-10px;overflow: hidden;position: absolute;height:auto;z-index: 999;margin-top:-39px;top:auto}
header .nav li:hover ul {background:#9b1b1f;border-top: 0px;border-left: 1px solid #fff;
    border-right: 1px solid #fff;border-bottom: 1px solid #fff;display: block;float: left;position: absolute;}

header .nav ul.sub-menu li a:first-letter{text-transform: capitalize}
header .nav ul.sub-menu li a{text-transform: none;font-size: 14px;color: #fff;font-weight: normal;margin: 2px;padding: 9px}

header .nav ul.sub-menu li:hover a{color: #fff}
header .nav ul.sub-menu li ul.sub-menu li a{color: #fff}

header .nav .menu-item a {color: #fff;display: block;text-decoration: none; padding: 14px 17px;font-size: 14px;}

header ul.nav li.current_page_item, .current_page_ancestor{background: #9b1b1f;color: #fff}
header ul.nav li.current_page_ancestor .current_page_item{background: #c42221;}

header ul.nav li.current_page_ancestor .current_page_item a{color: #fff}

.navbar .nav > li.current_page_ancestor > a{color: #fff}
header ul.nav li.current_page_item a{color: #fff;cursor: pointer}

/***/
.fonts-h4, .fonts-h4 > a{color: #c42221}
.font-h1-red,.font-h1{text-shadow:4px 4px 2px rgba(150, 150, 150, 1)}
.font-h1,.font-h1-red{font-family: OpenSans-Regular;font-weight: bold}
.font-h1{font-size: 16px}
.font-h1-red{font-size: 22px;color:#c61d1c}

.navbar .nav > li > .sub-menu li:hover{background:#656462;color: #000;float: left;cursor: pointer;overflow: hidden}

.round-new .news{height: 190px}
.fonts-reds a{color: #fff}
.round-news h2.fonts{margin-bottom: 26px}
.newsall .media{}
.btns{color: #9b1b1f;text-transform: capitalize}
.media, .media-body{overflow: auto;text-align: left}
.round-news .col-md-6{
    background: none repeat scroll 0 0 #9b1b1f;
    border: 2px solid;
    color: #fff;
    left: 0;
    padding: 4px 6px 4px 9px;}
.round-news img{border: 2px solid #fff;
    float: left;
    height: 139px;
    margin-right: 17px;
    padding-left: 0;
    padding-right: 0;
    width: 169px;}
.pavigation{
    border: 1px solid #fff;
    overflow: hidden;
}
.navbar-header {
    margin-top: 20px;
    border-bottom: none;
}
.round-news .col-md-6:hover,.round-news .post-item:hover{background: #e12927}
.pavigation .page-numbers{padding: 5px;color: #fff;font-weight: bold;font-size: 20px;background: #9b1b1f}
.pavigation .current{background: #e12927}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{background: none;}
#inner-headline{background: url("images/breadcrumb.jpg")}
#google-map{margin-top: 24px}
header .img-logo{padding-left: 0;padding-right: 0;  width: 13.667%;overflow: hidden;}

.img-logo img{margin-top: 12px}
.row-head{margin-bottom: 0;}
header .langu{padding-right: 0;}
header .languages{float: right;margin-top: 23px}
.languages img{width: 17px;float: left;margin: 1px}
.languages .qtrans_language_chooser{width: 100%;float: left}
.languages .qtrans_language_chooser li{float: right;padding: 1px}
.languages .qtrans_flag_vi{float: left ;background: url("images/vn.png") no-repeat; height: 12px;width: 18px}
.languages .qtrans_flag_en{background: url("images/gb.png") no-repeat; height: 12px;width: 18px;display: block}
.address .footer-logo{margin-right: 13px;float: left}
#productsall .col-sm-12{padding-bottom: 0;}
.affix{position: fixed}
.show-details-page .slideshowlink a{visibility: hidden}
.round-news .col-md-4{padding:7px}
.round-news .post-item{background: #9b1b1f;padding-bottom: 7px;padding-top: 7px;min-height: 175px}
#productsall{overflow: hidden}
header .logan{padding-left: 0;
    /*width: 77%*/
}
.news h3{text-transform: lowercase}
.news h3:first-letter{text-transform: capitalize}


.newsall .post-item{margin: 0 auto;max-width: 400px}
#projects #thumbs li.item-first{padding-left: 1px}
#projects #thumbs li.item-three{padding-right: 1px}
.banner > li {
    margin: 0 auto 0px;
    max-width: 400px;
    position: relative;
}
.events-pages{margin-top: 166px;}

#featured{
    width: 100%;
    position:relative;
    margin:134px 0 0;
    padding:0;

}
footer{padding-top: 20px;padding-bottom: 40px;font-size:0.96em}
footer .address{margin-bottom: 0;}
footer .address .list-group{margin-bottom: 0px;float:left}
footer .widget{overflow: hidden}
header .navbar-default .navbar-toggle{border-color: #9b1b1f}
header .navbar-default .navbar-toggle .icon-bar{background-color: #9b1b1f}
header .navbar-default .navbar-toggle:hover{background: #9b1b1f}
header .navbar-default .navbar-toggle:hover .icon-bar{background-color: #fff}
/**/
#wp-calendar caption{
    color: #c61d1c;
    font-size: 23px;
    padding: 10px;}
.widget_calendar table {
    width: 90%;margin: 0 auto;
    background: #EFEFEF;
    text-align: center; }

.widget_calendar table th {
    background: #DFDFDF;font-family: VNF-StagSans-Thin;
    border: 1px solid #fff;
    /*padding: 5px;*/
    line-height: 28px;
}

.widget_calendar table #today, .widget_calendar table td.today {
    background: #fff79a; }

.widget_calendar table td {
    border: 1px solid white;
    /*padding: 5px; */
    line-height: 32px;
}

.widget_calendar table td a {
    background: #c61d1c;
    display: block;
    line-height: 32px;
    color: #fff;
    text-decoration: none; }

.widget_calendar table td:hover {
    background: #f5f5f5; }

.widget_calendar table td.today:hover {
    background: #fff8ae; }

.widget_calendar table td a:hover {
    background: #329fd6; }
#wp-calendar tr th{background: none repeat scroll 0 0 #000;
    color: #fff;
    text-align: center;}
.events-pages .sidebar-nav-fixed{margin-top: 55px;z-index: 10;color: #fff}
.sidebar-nav-fixed tr td, .sidebar-nav-fixed .fonts{color: #000}
.widget_calendar table #eo-widget-prev-month, #eo-widget-next-month{line-height: 28px}
/**/
.eventscate .a-img img{height: 140px;width: 150px;border-radius: 6px}
.entry-title a{color: #c61d1c;font-size: 18px}
.eventscate .entry-title a:active,.eventscate .entry-title a:hover{color: #c42221}

.number-line{border-bottom: 1px solid #b6b6b6;margin-bottom: 16px;text-align: center;font-size: 17px}
.number-line .fa-calendar-o{}
.events-excerpt{padding-top: 10px;margin-bottom: 17px}
.eo_widget_calendar{overflow: hidden}
.events-pages .fa-clock-o{color: #c61d1c;}
.number-line .text{font-family: OpenSans-Regular;font-weight: bold}
.page-contact{margin-top: 160px}
.fonts-h{font-size: 21px; text-transform: uppercase; text-align: center}
.map-google{border: 6px solid #f8f8f8;background: #f8f8f8}
.wpcf7-form .wpcf7-textarea{height: 120px}
.wpcf7-form .wpcf7-text:focus,.wpcf7-form .wpcf7-textarea:focus{border: 2px solid #9b1b1f}
.wpcf7-form .wpcf7-text,.wpcf7-form .wpcf7-textarea{border: 2px solid #9b1b1f;border-radius:4px;font-family: OpenSans-Regular}
.wpcf7-form .wpcf7-submit{color: #fff;background: #9b1b1f;max-width: 140px;border: 1px solid #9b1b1f}
.single-events{margin-bottom: 10px;margin-top: 160px}
.single-events img.attachment-post-thumbnail{border-radius: 4px; max-height: 237px;width: 100%;height: auto}
.single-events .slide-can{color: #fff;margin-top: -7px}
.single-events .slide-can #wp-calendar tr td{color: #000}
.entry-header .entry-title{font-family: VNF-StagSans-Thin;font-weight: bold}
.slide-can .fonts{color: #000;margin-top: 46px}
.single-event .eventorganiser-event-meta .eo-event-meta{margin-left: 0px; min-width: 59%}
.entry-meta hr{ -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #b6b6b6 ;
    border-image: none;
    border-right: 0 none;
    border-style: solid none none;
    border-width: 1px 0 0;
    margin-bottom: 20px;
    margin-top: 20px;}
.wpcf7 span.wpcf7-not-valid-tip{color: #9b1b1f}

.round-asbout{background: #9b1b1f;}
.fonts-h2{text-transform: uppercase;font-size: 21px}
.row-head .logan{margin-top: 5px;padding-left: 5px}

.partner-page .logo-part{text-align: center;border: 1px solid #cfcfcf;
    font-family: Oswald,VNF-StagSans-Thin; font-size: 30px;color: #000;
    height: 100px;width: 100%;overflow: hidden;padding: 16px;margin: 0 auto}
.partner-page .item{padding: 2px;}
.partner-page .logo-part img{height: 100%;max-width: 60%}
.grid-partner{margin-top: 10px;}
.amazingcarousel-image .img{color: #000;height: 79px; width: 100%;font-family: Oswald;font-size: 30px;}
#amazingcarousel-1 .amazingcarousel-image {border: 1px solid #cfd1c7;box-shadow: 0 3px 5px #cfcfcf;}
#amazingcarousel-1 .amazingcarousel-image img:hover,.amazingcarousel-image .img:hover{}
.amazingcarousel-image .img .imgg{padding-top: 27px}

.page-single .panel{border-radius: 0px;border: 0px}
.page-single .deatils{text-align: justify}
.lis-items{margin-bottom: 25px}
.show-details .details-news{float: left}
.news-page .img-logo{overflow: hidden}
.right-new,.left-news{border: 1px solid}
.page-single .deatils img{width: 100%;overflow: hidden}
.news-page .media-body .deatils{padding-left: 16px}
.page-single .single-title{margin-top: 20px;
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;}
.single-title .fa-home{font-size: 26px;color: #9b1b1f}
.single-title .time{color: #4A4A4A;font-size: 13px}
.single-title a{font-size: 16px;color: #9b1b1f}
.col-right-single{ }
.find-facebook{text-align: center;overflow: hidden;margin-top: 17%}
.find-facebook .fb_iframe_widget{}
.top-new-viewer .img{ float: left;
    overflow: hidden;
    width: 100%;}
.top-new-viewer .img img{overflow: hidden;min-height: 151px;width: 100%}
.top-new-viewer .title{font-size: 13px;color: #c42221;float: left;}
.top-new-viewer ul li{ border-bottom: 1px solid #d6d6d6;
    margin-top: 18px;
    overflow: hidden;
    padding-bottom: 10px;
    width: 100%;}
.ngg-gallery-thumbnail-box{padding-left: 5px;padding-right: 2px}
.top-new-viewer .excerpt-new{width: 100%;text-align: justify;float: left;overflow: hidden;padding-top: 5px;font-size: 12px}
.cate .col-sm-4 .item img{width: 100%;overflow: hidden;height: 175px;border: 1px solid #cfcfcf}
.page-category h2.fonts{margin-bottom: 24px}
.services .aligncenter .ser{padding-left: 14px;padding-right: 14px;}
.cate .col-sm-4{padding-right: 6px;padding-left: 6px;margin-bottom: 10px}
#page-main .container{min-height: 200px}
.relation-post{width: 100%;float: left}
.relation-post h4{ margin-left: 25px;}
.relation-post ul{list-style: circle;margin-left: 33px}
#page-main .show-details-page{padding-left: 24px;padding-right: 24px;}
.relation-post ul li{text-align: left}
/**an hien list cac hoat dong ho ro page 652**/
.list-eventsurport{padding-left: 30px;padding-right: 30px}
.wrapper-surport{max-width: 70%;overflow: hidden;margin: 0 auto}
.list-eventsurport .title h3{margin-bottom: 5px; padding: 2px}
.list-eventsurport a, .list-eventsurport a:focus, .list-eventsurport a:active,.list-eventsurport a:hover{color: #fff;text-decoration: none;border: 0px}
.list-eventsurport .round{border-bottom-left-radius: 4px;border-bottom-right-radius: 4px; border: 1px solid #9b1b1f;margin-bottom: 5px}
.list-eventsurport .title{background: #9b1b1f; color: #fff;font-size: 20px;padding: 10px}
.list-eventsurport .title:hover{background: #c61d1c}
.list-eventsurport .newboxes{padding-top: 3%;padding-right: 4%;padding-left: 4%;padding-bottom: 3%}
.list-eventsurport .fonts-h{margin-bottom: 25px}
legend{border-style: none}
.ngg-gallery-thumbnail,.ngg-gallery-thumbnail-box{width: 100%}
.ngg-gallery-thumbnail img{width: 100%}
.ngg-gallery-thumbnail img:hover{background-color: #9b1b1f}
.item-thumbs{border: 1px solid #cfcfcf}
/****/
#steps li span{float: left}
#steps .fa-angle-right{font-size: 20px; padding-left: 10px;}
#td2{padding-left: 14px;padding-right: 14px; vertical-align: top;}
.table-responsive table td{padding-bottom: 20px;vertical-align: top}
#mvccount{display:none}
#mvcwid{padding-top:0px}
.fonts a{color: #000}
.fonts span.news a{color: #b92428}

.link-more i{color: #fff;font-size: 12px;}
.link-more a:hover{color: #fff;text-decoration: underline}
/**step trang tuyen chon**/
@media(max-width: 320px){
    .ngg-gallery-thumbnail-box{padding-left: 8px;padding-right:8px}
    .ngg-gallery-thumbnail-box{}

}
@media(max-width: 360px){
    .ngg-gallery-thumbnail-box{padding-left: 18px;padding-right:18px}
    .ngg-gallery-thumbnail, .ngg-gallery-thumbnail-box{ width: 100%;}
    .ngg-gallery-thumbnail img{height: 100%}
    header .nav ul.sub-menu li a{font-size: 12px}
    header .nav li ul{width:174px}
    header .nav li ul li:hover ul{margin-left: 110px}
    .single-events .entry-header .entry-title{font-size: 20px}
}
@media(max-width: 380px)
{
    .events-pages{margin-top: 120px;margin-bottom:0px}
    .slide-can .fonts{margin-top: 0px}
    .fonts{margin-top: 0px}
    .services-index{margin-top: 132px}
    .list-eventsurport .title{font-size: 15px}
    .events-pages .link-page{font-size: 13px}

}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .navbar-brand .logos{margin-top: -45px}
    #featured{display: none}
    header .languages{margin-right: 16px}
    .callaction{margin-top: 95px}
    footer .container{font-size: 12px}
    .services-index{margin-top: 132px}
    .single-events{margin-top: 115px}

    .single-title a{font-size: 18px}
    .single-title .fa-home{font-size: 22px}
    h4.title{font-size: 16px}
    .single .col-md-12, .single .col-md-9, .single .col-md-3{padding-left: 5px;padding-right: 5px}

}

@media (max-width: 480px) {
    .menuheader{display: none}
    .menubot{display: block}
    #featured{display: none}
    .navbar-brand .logos{margin-top: -45px}
    header .languages{margin-right: 16px}
    .banner > li {
        margin: 0 auto 0px;
        padding-left: 1px;
        padding-right: 1px;
    }
    .banner > li img{width: 100%;max-height: 150px}
    footer .container{font-size: 12px}
    .services .item{padding-right: 2px;padding-left: 2px}
    .round-news img{width: 100%;height: 173px;float: left;margin-left:-0.1em;border: 2px solid #fff}
    #newsall .media-body{float: left;width: 100%}
    .ngg-galleryoverview .col-sm-2, .ngg-galleryoverview .col-md-2{max-width: 50%;}
    .ngg-gallery-thumbnail, .ngg-gallery-thumbnail-box{ width: 100%;}
    .ngg-gallery-thumbnail img{height: 100%}

}

@media only screen and (min-device-width: 481px) and (max-width: 540px) {
    .menuheader{display: none}
    .menubot{display: block}
    #featured{display: none}
    .navbar-brand .logos{margin-top: -45px}
    header .languages{margin-right: 16px}
    .services-index{margin-top: 95px}

}
@media (max-width: 650px) {

    .menuheader{display: none}
    .menubot{display: block}
    #featured{display: none}
    .navbar-brand .logos{margin-top: -45px}
    header .languages{margin-right: 16px}
    .callaction{margin-top: 95px}
    #partners{display: none}
    .events-pages{margin-top: 120px;margin-bottom:0px}
    .page-contact{margin-top: 125px}
    #page-main .container{min-height: auto}
}

@media only screen and (min-device-width: 651px) and (max-width: 670px) {
    .menuheader{display: none}
    .menubot{display: block}
    .navbar-brand .logos{margin-top: -45px}
    header .languages{margin-right: 16px}
    #featured{margin: 98px 0 0;
        padding: 0;
        position: relative;
        width: 100%;}
    .page-contact{margin-top: 129px}
    .events-pages{margin-top: 124px}

}
@media(max-width: 679px){
    .menuheader{display: none}
    .menubot{display: block}
    /*#page-main{margin-top: 105px}*/
}

@media (max-width:767px) {
    .navbar-toggle{margin-top: 0px}
    .navbar-header{  border-bottom: medium none;margin-top: 1px}
    .page-contact{margin-top: 128px}
    .navbar-toggle{margin-top: 8px}
}
@media (max-width:768px) {

    /* @media (max-width: 650px) Reduce font-sizes for better readability on smaller devices */
    header .font-h1-red,header .font-h1{font-size: 21px}
    header img.logos{width: 84px;height: 72px}
    .flex-caption h3{font-size: 23px}
    .navbar .nav > li > a{font-size: 16px}
    #newsall .col-md-6{width: 100%;float: left}
    .item-thumbs {
        position: relative;
        overflow: hidden;
        margin-bottom: 20px;
        cursor: pointer;margin: 2px;
    }
    .events-pages{margin-bottom:0px}
    .navbar-header{  border-bottom: medium none;margin-top: 0px}
    .wrapper-surport{max-width: 100%}
}
/* Tablet */
@media all and (max-width: 1000px) {

}

/***phan trang**/
.pagination1{float: left;overflow: hidden}

.simplePagerNav{overflow: hidden;float: left; text-align: center;margin:0 auto;width: 100%}
.simplePagerNav div{text-align: center;}
div.simplePagerNav div{margin: 1px ;border: 1px solid #cfcfcf;cursor: pointer;background: #9b1b1f;
    display:inline;padding: 4px; margin-bottom: 10px;text-align: center;
    font-size:20px;width: 50px}
div.simplePagerNav div.currentPage{cursor: not-allowed}
div.simplePagerNav div a{
    font-weight: bold;
    text-decoration: none;color: #fff;
}
div.simplePagerNav div.currentPage {background: #e12927;}
div.currentPage a{color: #fff;font-weight: bold}



