/* === color === */


.navbar .nav > li > .dropdown-menu{background: #9b1b1f;color: #fff;text-transform: capitalize}


.navbar .nav > li > a{color: #c42221}

/* === background color === */


.breadcrumb {
  background-color: #c42221;
}

/* === border color === */


textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: #9b1b1f;
}

input:focus {
	border-color: #9b1b1f;
}


#sendmessage {
	color: #68A4C4;
}

.pullquote-left {
	border-left:5px solid #68A4C4;
}

.pullquote-right {
	border-right:5px solid #68A4C4;
}

.cta-text h2 span {
	color: #b92428;
}

ul.clients li:hover {
	border:4px solid #68A4C4;
}

/* box */
.box-bottom {
	background:#b92428;
}

/* buttons */
.btn-dark:hover,.btn-dark:focus,.btn-dark:active  {
  background: #68A4C4;
  border:1px solid #68A4C4;
}

.btn-theme {
  border:1px solid darkred;
  background: #b92428;
}

/* modal styled */
.modal.styled .modal-header {
  background-color: #68A4C4;
}


/* blog */
.post-meta {
	border-top:4px solid #68A4C4;
}

.post-meta .comments a:hover  {
	color:#68A4C4;
}

.widget ul.tags li a:hover {
	background: #68A4C4;
}

.recent-post .text h5 a:hover{
	color:#68A4C4;
}

/* pricing box */

.pricing-box-alt.special .pricing-heading {
	background: #68A4C4;
}


/* portfolio */
.item-thumbs .hover-wrap .overlay-img-thumb {
	background: #598d1e;
}


/* pagination */
#pagination a:hover {
    background: #68A4C4;
}

/* pricing box */
.pricing-box.special .pricing-offer{
	background: #68A4C4;
}


/* fontawesome icons */
.icon-square:hover,
.icon-rounded:hover,
.icon-circled:hover {
    background-color: #68A4C4;
}
[class^="icon-"].active,
[class*=" icon-"].active {
    background-color: #68A4C4;
}

/* fancybox */
.fancybox-close:hover {
	background-color:#9b1b1f;
}
.fancybox-nav:hover span {
	background-color:#9b1b1f;
}

/* parallax c slider */
.da-slide .da-link:hover{
	background: #68A4C4;
	border: 4px solid #68A4C4;
}

.da-dots span{
	background: #68A4C4;
}

/* flexslider */
#featured .flexslider .slide-caption {
	border-left:5px solid #68A4C4;
}

/* Nivo slider */
.nivo-directionNav a:hover {
    background-color: #68A4C4;
}
.nivo-caption, .caption {
	border-bottom: #68A4C4 5px solid;
}

/* footer */

#sub-footer{
	background:#000;
}

